* {
   margin: 0;
}

html{
   background-color: white;
}

body {
   background-color:black; 
    color: white;
    max-width: 850px;
    height: 100vh;
    margin: 0 auto;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

h1{
   padding: 12px 5px;
}

 img{
   max-width: 500px;
 }
